:root {
  --border-radius: 4px;
  --border-color: #aaa;
}

body {
  margin: 0;
  padding: 0;
}
body, input {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Verdana, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
html, body {
  height: 100%;
}
* {
  box-sizing: border-box;
}
button {
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  user-select: none;
  line-height: 24px;
  padding: 6px 12px;
  border-radius: 4px;
  display: inline-block;
  border: 1px solid var(--border-color);
}
button.crb {
  color: #000;
}
table {
  width: 100%;
  border-collapse: collapse;
}
table, th, td {
  border: 1px solid #aaa;
}
th {
  background-color: #fafafa;
}
th, td {
  padding: 10px;
  text-align: left;
}

.mt-10 { margin-top: 10px; }
.mt-20 { margin-top: 20px; }
.mt-40 { margin-top: 40px; }

section {
  float: left;
  text-align: center;
}
@media (max-width: 767px) {
  section {
    width: 100%;
    border-top: 1px solid var(--border-color);
  }
  section:first-child {
    border-top: none;
  }
}
@media (min-width: 768px) {
  section {
    height: 100%;
    width: 33.33%;
    overflow-y: auto;
    border-left: 1px solid var(--border-color);
  }
  section:first-child {
    border-left: none;
  }
}
.sectionTitle {
  padding: 30px;
  font-size: 30px;
  color: var(--border-color);
}
.sectionContent {
  padding: 30px;
  border-top: 1px solid var(--border-color);
}

#showColor {
  width: 150px;
  height: 150px;
  display: inline-block;
  border-radius: var(--border-radius);
  border: 1px solid var(--border-color);
}
.classifyButton {
  margin-left: 10px;
  display: inline-block;
}
.classifyButton:first-child {
  margin-left: 0;
}
#selectedColors div {
  width: 20px;
  height: 20px;
}
